{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Portadas UANL</h1>
    <p class="lead">
        Herramienta de carga y descarga de imagenes de portadas para la base de datos de CODICE de la UANL.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Herramienta de Listado</h2>
        <p>Carga de listado de texto.</p>
        <p><a href="{{ url_for('lista') }}" class="btn btn-primary btn-large">Cargar Listado</a></p>
    </div>
    <div class="col-md-4">
        <h2>Herramienta de Carga</h2>
        <p>Carga de imagen de portada.</p>
        <p><a href="{{ url_for('portada') }}" class="btn btn-primary btn-large">Cargar Portada</a></p>
    </div>
    <div class="col-md-4">
        <h2>Herramienta de Control</h2>
        <p>Estadisticas de peticiones diarias.</p>
        <p><a href="{{ url_for('contador') }}" class="btn btn-primary btn-large">Descarga de Portadas</a></p>
    </div>
</div>
{% endblock %}