<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/jquery-1.10.2.min.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbardd" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand">PortadasAPI</a> 
        <div class="navbar-collapse collapse" id="nvbardd">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('lista') }}">Acerca</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('portada') }}">Acerca</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('contador') }}">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('acerca') }}">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('contacto') }}">Contacto</a></li>
            </ul>
            </div>
    </nav>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - My Flask Application</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
