{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form id="upload-file" method="POST" enctype="multipart/form-data">
            <fieldset>
                <input name="file" type="file">
                <label for="file">Seleccione un archivo</label>
            </fieldset>
            <fieldset>
                <input type="submit" class="input-group-text btn-primary" id="inputAddon" value="Subir">
            </fieldset>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% if request.method == 'POST' %}
<hr />
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        {% if status == 'OK' %}
        <a href="{{ url_for('contador') }}" class="btn btn-primary">Descargas</a>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}